# Local tools
arduino-cli.exe
arduino-cli.zip
LICENSE.txt

# Arduino build artifacts
build/
*.elf
*.bin
*.hex
*.map
*.uf2

# IDE files
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Private credentials
arduino_secrets.h
